#Basic Python

# 1.Split this string

In [ ]:
s = "Hi there Sam!"

In [ ]:
s = "Hi there Sam!"
t=s.split()
print(t)

['Hi', 'there', 'Sam!']

#2. Use .format() to print the following string.
Output should be: The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

In [2]:
planet = "Earth"
diameter = 12742
print('The diameter of {} is {} kilometers.' .format(planet,diameter));

The diameter of Earth is 12742 kilometers.

#3. In this nest dictionary grab the word "hello"

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [3]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]["tricky"][3]['target'][3])

hello

#Numpy

In [ ]:
import numpy as np

#4.1 Create an array of 10 zeros?
#4.2 Create an array of 10 fives?

In [4]:
import numpy as np
arr=np.zeros(10)

In [6]:
import numpy as np
arr1=np.ones(5)

#5. Create an array of all the even integers from 20 to 35

In [7]:
array=np.arange(20,35,2)

#6. Create a 3x3 matrix with values ranging from 0 to 8

In [8]:
x=np.arange(0,9).reshape(3,3)

#7. Concatenate a and b
#a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [9]:
a= np.array([1,2,3])
b=np.array([4,5,6])
np.concatenate((a,b),axis=0)

array([1, 2, 3, 4, 5, 6])

#Pandas

#8. Create a dataframe with 3 rows and 2 columns

In [ ]:
import pandas as pd

In [11]:
import pandas as pd
df=pd.DataFrame

#9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [13]:
import pandas as pd
per =pd.date_range(start='1-1-2023', end='10-02-2023',freq='5H')

#10. Create 2D list to DataFrame
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [ ]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [14]:
import pandas as pd
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]
df=pd.DataFrame(lists,columns=['num1','char','num2'])